<h2><%=l(:label_communication_plan)%></h2>
<%= form_tag :action => 'update' do %>
  Teste</br>

  <%= submit_tag l(:button_save) %>
<% end %>

<!-- TO DO: colocar a barra lateral direita com as opções da Administração -->
